transformers
torchaudio
PySoundFile
soundfile
pyaudio # no linux pode precisar: sudo apt install portaudio19-dev python3-pyaudio
flask                                                                                                                               
torch
nltk